//DEMO
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&display=swap');
html, body{padding:0; margin:0; font-family: 'Heebo', sans-serif;}
hr{margin:40px 0;}
pre{padding:10px; background:#EEE; border-radius:5px; overflow:auto;}
p{max-width:1200px;}
svg{margin-right:40px;}

.container{max-width:1000px; margin:0 auto;}
.box{padding:40px; margin:20px auto; height:80vh; box-shadow:0 0 10px rgba(0, 0, 0, 0.1); border-radius:10px;}
.navigation{position:fixed; left:0; top:0; display:inline-block;
  h4{margin:10px 0 0 10px;}
  ul, li{list-style-type:none; margin:0; padding:0;}
  li{
    a{padding:10px; display:block; text-decoration:none;
      &:hover{background:#EEE;}
    }
  }
}
.transition{transition:all 500ms ease;}
/* X */
.x{position:relative; width:15px; height:15px; display:inline-block;}
.x:before, .x:after{content:" "; position:absolute; top:50%; left:0; background:red; height:1px; width:100%;}
.x:before{ right:100%; transform:rotate(45deg);}
.x:after{ right:100%; transform:rotate(135deg);}

h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
h2{font-size:2em; font-weight:normal;}
h3{}
h4{padding-bottom:10px;}
h5{padding-top:10vh;}

.row{display:flex; margin-bottom:5vh; padding-bottom:5vh;}

.intro{text-align:center; margin:0 auto; min-height:80vh; padding:10vh 0 0 0;
  h1{font-size:3vw; text-transform:uppercase; letter-spacing:3px; margin-bottom:5vh;}
  p{margin:5vh auto;}
}

.code-info{background:#EEE; border-radius:5px; padding:20px; margin:2vh 0; text-align:center;
  a{font-weight:bold; position:relative; display:inline-block; margin:0 3px; padding:0 5px; text-decoration:none; color:#000;
    &:after{content:''; border:2px solid #000; position:absolute; left:0; right:0; top:0; bottom:0;}
    &.active{ background:#000; color:#FFF;}
  }
  
  .tip{position:relative; display:inline-block;
    &:before{content:attr(title); position:absolute; background:#333; color:#FFF; white-space:nowrap; text-indent:0; padding:5px 10px; text-align:left; border-radius:3px; line-height:normal; font-size:14px; opacity:0; transition: all 0.5s ease;}
    &:hover{
      &:before{opacity:1;}
    }
    &.top{
      &:before{bottom:110%; left:50%; transform:translateX(-50%);}
    }
    &.left{
      &:before{top:0; right:100%;}
    }
    &.right{
      &:before{top:0; left:100%;}
    }
    &.bottom{
      &:before{top:110%; left:50%; transform:translateX(-50%);}
    }
  }
}


.btn{display:inline-block; padding:10px 20px; text-decoration:none; border-radius:4px;
  &.btn-primary{ background:#000; color:#FFF; @extend .transition;
    &:hover{background:#333;}
  }
}

.footer{text-align:center;}

@media (max-width:767px){
    body{padding:0 30px;}
    .intro{height:auto;
      h1{font-size:50px;}
    }
    .navigation{display:none;}
    .box{height:auto;}
    .row{display:block;}
    svg{width:100%;}
}



@import 
"base/base",
"base/mixins",
"components/accordion",
"components/tabs",
"components/tray",
"components/popover",
"components/tooltip",
"components/drop",
"components/slider",
"components/edge-container",
"components/modal";